<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculus</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <main class="page">
            <div class="registration">
                <h2 class="registration__heading">
                    Registration
                </h2>
                <form action="/registration" method="POST" class="registration__form">
                    <label class="registration__label" for="username">Username <span class="red-star">*</span></label>
                    <input required type="text" class="registration__input" name="username" id="username">

                    <label class="registration__label" for="username">Password <span class="red-star">*</span></label>
                    <input required type="password" class="registration__input" name="password" id="password">

                    <label class="registration__label" for="username">Repeat Password <span class="red-star">*</span></label>
                    <input required type="password" class="registration__input" id="repeatPassword">

                    <input type="submit" value="Register" class="registration__submit">
                    <!-- <button class="registration__submit" type="submit">Register</button> -->
                </form>
            </div>
        </main>
    </div>

    <div class="popup popup__error">
    <div class="popup__body">
        <h3 class="popup__error-heading">
            Error!
        </h3>
        <p class="popup__error-text">
            Error
        </p>
        <button class="popup__ok-button" id="error-button">
            Ok
        </button>
    </div>
    <div class="popup__background">
        
    </div>
</div>
<div class="popup popup__sure">
    <div class="popup__body">
        <h3 class="popup__sure-heading">
            Are you sure?
        </h3>
        <div class="popup__sure-buttons">
            <button class="popup__sure-no">
                No
            </button>
            <button class="popup__sure-yes">
                Yes
            </button>
        </div>
    </div>
    <div class="popup__background">
        
    </div>
</div>
<div class="popup popup__success">
    
    <div class="popup__body">
        <h3 class="popup_success-heading">
            Success!
        </h3>
        <p class="popup__success-text">
            Success
        </p>
        <button class="popup__ok-button" id="success-button">
            Ok
        </button>
    </div>
    <div class="popup__background">
        
    </div>
</div>
    <script src="js/popup.js"></script>
<script src="js/webp.js"></script>

    <script src="js/passwordValidation.js"></script>
</body>
</html>