@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(../fonts/icons.ttf) format("ttf"), url(../fonts/icons.woff2#icons) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon0]::before,
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon0]::before,
[class*=_icon-]::before {
  display: block;
}

._icon-arrow-link:before {
  content: "";
}

._icon-cart:before {
  content: "";
}

._icon-favorite:before {
  content: "";
}

._icon-location:before {
  content: "";
}

._icon-phone:before {
  content: "";
}

._icon-search:before {
  content: "";
}

._icon-send:before {
  content: "";
}

._icon-share:before {
  content: "";
}

._icon-arrow-down:before {
  content: "";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: black;
  font-size: 14px;
  background-color: #252525;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
@media (max-width: 767.98px) {
  body._locked {
    overflow: hidden;
  }
}

body, html {
  height: 100%;
  width: 100%;
}
body._locked, html._locked {
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

* {
  font-family: "Roboto";
  font-size: 16px;
  color: black;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.popup._active {
  pointer-events: all;
  opacity: 1;
}
.popup_success-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #44CC62;
}
.popup__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
  cursor: pointer;
}
.popup__body {
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 99999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 604px;
  min-height: 281px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
}
.popup__body button {
  cursor: pointer;
}
.popup__error-heading {
  font-size: 48px;
  font-family: Roboto;
  font-weight: bold;
  color: #F30000;
}
.popup__error-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.popup__ok-button {
  max-width: 164px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  background-color: #20AAD6;
  border-radius: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popup__ok-button:hover {
  background-color: #6bc0dd;
}
.popup__sure-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #F30000;
}
.popup__sure-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.popup__sure-buttons button {
  border: none;
  border-radius: 7px;
  height: 50px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popup__sure-no {
  width: 60%;
  background-color: #44CC62;
}
.popup__sure-no:hover {
  background-color: #64ce7b;
}
.popup__sure-yes {
  width: 35%;
  background-color: #F30000;
}
.popup__sure-yes:hover {
  background-color: #e64747;
}
.popup__success-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 690px;
  min-height: 350px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.welcome__heading {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
}
.welcome__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
}
.welcome__buttons button {
  width: 52%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 60px;
  min-width: 210px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: white;
}
.welcome__buttons button:not(:first-of-type) {
  margin-top: 25px;
}
.welcome__register {
  background-color: #44CC62;
}
.welcome__register:hover {
  background-color: #64ce7b;
}
.welcome__login {
  background-color: #20AAD6;
}
.welcome__login:hover {
  background-color: #6bc0dd;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 26px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 10px;
  min-height: 530px;
  max-width: 690px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.registration__heading {
  font-size: 36px;
  font-weight: 500;
}
.registration__form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.registration__input {
  margin-top: 15px;
  width: 100%;
  background-color: #F6F6F6;
  border: none;
  height: 55px;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}
.registration__input:focus {
  outline-color: #6bc0dd;
}
.registration__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
}
.registration__label:not(:first-of-type) {
  margin-top: 15px;
}
.registration__submit {
  margin-top: 25px;
  background-color: #44CC62;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  max-width: 190px;
  width: 100%;
  height: 50px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.registration__submit:hover {
  background-color: #64ce7b;
}

.red-star {
  color: red;
  margin-left: 3px;
}

.dashboard {
  background-color: #2E2E2E;
  width: 90%;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: auto;
  gap: 73px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
}
.dashboard::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashboard::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  opacity: 0.1;
}
.dashboard__item {
  background-color: #616161;
  max-height: 290px;
  max-width: 255px;
  height: 290px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.dashboard__item_new {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard-item__heading {
  color: white;
  font-size: 36px;
  font-weight: 500;
}
.dashboard-item__delete {
  position: absolute;
  right: 20px;
  top: 10px;
  color: red;
  font-weight: 500;
  font-size: 36px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.dashboard-item__create-new {
  background-color: transparent;
  font-size: 144px;
  font-weight: 500;
  color: white;
  border-style: none;
  cursor: pointer;
}

.header {
  width: 100%;
}
.header__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-top: 48px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #542D54;
}
.header__logo {
  color: white;
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  font-family: Roboto;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__right > *:not(:last-child) {
  margin-right: 35px;
}
.header__right > button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.header__username {
  font-weight: 500;
  font-size: 36px;
  font-family: Roboto;
  color: white;
}
.calculator {
  background-color: #3A3A3A;
  border-radius: 10px;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  margin-top: 90px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calculator__field {
  background-color: #E0E0E0;
  width: 553px;
  outline: none;
  border-style: none;
  border-radius: 7px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-size: 36px;
  font-family: Roboto;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.calculator__field::-webkit-input-placeholder {
  color: black;
}
.calculator__field::-moz-placeholder {
  color: black;
}
.calculator__field:-ms-input-placeholder {
  color: black;
}
.calculator__field::-ms-input-placeholder {
  color: black;
}
.calculator__field::placeholder {
  color: black;
}
.calculator__grid {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 13px;
  margin-right: auto;
  margin-left: auto;
}
.calculator__setting {
  grid-column-start: 1;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.calculator__label {
  color: white;
  font-size: 36px;
  font-weight: 500;
  font-family: Roboto;
}
.calculator__select {
  background-color: #C4C4C4;
  width: 170px;
  height: 50px;
  font-size: 36px;
  border-radius: 6px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.calculator__button {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #C4C4C4;
  outline: none;
  border-style: none;
  font-size: 36px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.calculator__button:disabled {
  opacity: 0.2;
}
.calculator__clear {
  background-color: #AC3737;
}
.calculator__erase {
  font-family: Roboto;
  font-weight: 500;
  font-size: 36px;
}
.calculator__equals {
  background-color: #C79141;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history__wrapper {
  background-color: #2E2E2E;
  margin-top: 60px;
  width: 30%;
  padding: 30px;
  border-radius: 10px;
}
.history__item {
  color: white;
}
.history__item:not(:last-of-type) {
  margin-top: 30px;
}